li{
    list-style-type: none;
    margin-bottom: 10px;
}

li img{
    /* float:left; */
}

li button{
    text-align: left; 
    background-color:white;
    border:2px solid black;
    color:black;
    width:300px;
    height:40px;
    border-radius: 4px;
    font-weight:normal;
    /* box-shadow: 0 2px 2px rgba(0,0,0,0.2);  */
}




.col-sm-6.corr_right img{
    width:400px;
}


.wrapper_img img{
    
    border-radius: 6px;
    width:400px;
    height:auto;
 }


@media only screen and (min-width: 350px) 
 {
      
      .col-sm-6.corr_right img{
        
        text-align:center;
      }
}



 @media only screen and (min-width: 575px) 
 {
      
      .col-sm-6.corr_right img{
        margin-left:50px;
        text-align:center;
        width:260px;
        height:auto;
    }
}
    

@media only screen and (min-width: 715px) 
 {
      
      .col-sm-6.corr_right img{
        width:400px;
    }
}

@media only screen and (min-width: 900px) 
 {
    
    
      .col-sm-6.corr_right img{
        margin-left:30px;
        height:auto;
        width:400px;
      }

    .col-sm-6.corr_left{
        margin-right:-40px;
      }
}

@media only screen and (min-width: 1000px) 
 {
    
    
      .col-sm-6.corr_right img{
        margin-left:0px;
        height:auto;
        width:400px;
      }

    .col-sm-6.corr_left{
        margin-right:-40px;
      }
}

@media only screen and (min-width: 1200px) 
 {
    
      .col-sm-6.corr_left{
        margin-right:-100px;
      }

      .col-sm-6.corr_right img{
        width:500px;
        height:285px;
        margin-left:-100px;
      }
    
}

@media only screen and (min-width: 1400px) 
 {

      .col-sm-6.corr_left{
        margin-right:-150px;
      }

      .col-sm-6.corr_right img{
        width:500px;
        height:285px;
        margin-left:-100px;
      }
    
}


@media only screen and (min-width: 1600px) 
 {
    /* .category_wrapper{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
      }   */

      .col-sm-6.corr_left{
        margin-right:-200px;
      }

      .col-sm-6.corr_right img{
        width:500px;
        margin-left:-100px;
      }
    
}

      